
        *{
            margin: 0;
        }
        div{
            border: 2px solid black;
            width: 25%;
            border-radius: 15px;
            overflow: hidden;
            margin: 30px;
            padding: 30px;
            box-shadow: black 3px 3px;
            position: fixed;
            height: 250px;
            
           

        }
        img {
            /*position: absolute;*/
            width: 100%;
           
        }
        .div2{
            left: 33%;
        }
        .div3{
            left: 66%;
        }
        h1{
            background-color: black;
            color: white;
            padding: 8px;
            text-align: center;
        }
        p{
            background-color: teal;
            padding: 8px;
            color: white;
            text-align: justify;

        }
        #p2{
            background-color: brown;
            color: white;
        }
        #p3{
            background-color: coral;

        }
